body {
  font-family: Arial, Helvetica, sans-serif;
}

.aieseb {
  background: linear-gradient(
      rgba(185, 148, 112, 0.5),
      rgba(185, 148, 112, 0.5)
    ),
    url("https://www.toptal.com/designers/subtlepatterns/uploads/geometric-leaves.png")
      no-repeat;
  background-size: cover;
  padding-top: 12px;
}

.container-aieseb {
  width: 80%;
  margin: 0 auto;
}

/* .container-aieseb {
  margin: 80% 0;
} */

.aieseb-header {
  margin: 12px 0;
}

.aieseb-content {
  margin: 12px 0;
}

.aieseb-content .graf {
  font-size: 32px;
}

.aieseb-footer {
  /* margin-top: 40px; */
  padding-bottom: 40px;
}

.ourteam {
  /* text-transform: uppercase; */
  text-align: center;
  margin: 24px 0;
  padding: 12px 0;
  border-bottom: 1px solid #000;
}

.card img {
  width: 100%;
  height: 250px;
}

.card-body {
  background-color: #a9b388;
  text-align: center;
}

.card-item a {
  margin: 0 4px;
}
