
 .container-belajar {
  width: 80% 0;
}

 * {
  box-sizing: border-box;
  padding: 0;
}

body {
  background: linear-gradient(
      rgba(185, 148, 112, 0.5),
      rgba(185, 148, 112, 0.5)
    ),
    url("https://www.toptal.com/designers/subtlepatterns/uploads/geometric-leaves.png")
      no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: linear-gradient(rgba(254, 250, 224,0.3), 
  rgba(254, 250, 224,0.3)), url("https://www.toptal.com/designers/subtlepatterns/uploads/geometric-leaves.png")no-repeat;
  background-size: cover;
}

.header h1 {
  font-size: 50px;
}


/* Create two unequal columns that floats next to each other */

.leftcolumn .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:rgb(185, 148, 112);
  color:black;
  font-size: 16px;
  padding: 30px 70px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}

.leftcolumn .btn:hover {
  background-color: black;
  color:rgb(185, 148, 112);
}

.rightcolumn .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}

.rightcolumn .btn:hover {
  background-color: black;
  color: white;
}
/* Left column */
.leftcolumn {   
  float: left;
  width: 100%;
  background-image: linear-gradient(rgb(185, 148, 112), 
  rgb(185, 148, 112)),  url("https://www.toptal.com/designers/subtlepatterns/uploads/geometric-leaves.png")
  no-repeat;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-image: linear-gradient(rgb(185, 148, 112), 
  rgb(185, 148, 112)), url("images/bg.jpg");
  padding-left: 20px;
}


.logo{
opacity: 1;
width: 80px;
  height: 100%;
  cursor: pointer;
}

.belajar{
opacity: 0.5;
height: 400px;
width: 100%;
padding: 0;
}
/* Add a card effect for articles */
.card {
  background: linear-gradient(
    rgba(185, 148, 112, 0.5),
    rgba(185, 148, 112, 0.5)
  ),
  url("https://www.toptal.com/designers/subtlepatterns/uploads/geometric-leaves.png")
    no-repeat;
    background-size: cover;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row-content::after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

.content{
  background: linear-gradient(rgba(254, 250, 224,0.3), 
  rgba(254, 250, 224,0.3)), url("https://www.toptal.com/designers/subtlepatterns/uploads/geometric-leaves.png")no-repeat;
  background-size: cover;
}
.column-video {
  float: left;
  width: 33.33%;
  padding: 15px;
}

.row-video::after {
  content: "";
  display: table;
  clear: both;
}

p{
  padding-top: 20px;
  text-align: justify;
}
.column-desc{
  width:80%;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
    .column-video{
      width: 100%;
      justify-content: center;
    }
  }
