.container {
  margin: 80% 0;
}

body {
  background: linear-gradient(
      rgba(185, 148, 112, 0.5),
      rgba(185, 148, 112, 0.5)
    ),
    url("https://www.toptal.com/designers/subtlepatterns/uploads/geometric-leaves.png")
      no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 35px;
  font-family: 'Arial', sans-serif; /* Use appropriate Arabic font-family */
  line-height: 1.5; /* Adjust line height as needed */
  margin-bottom: 10px; /* Add some bottom margin */
}

.slider{
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.sliderArab{
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider img,
.sliderArab div .slideArab{
  width: 100%;
  display: none;
}

.slider div.slide {
  width: 100%;
  display: none; /* Initially hide all slide divs */
  text-align: center;
}

.sliderArab div.slideArab {
  color: red;
  width: 80%; /* Set the width of the iframe */
  height: 50%; /* Set the height of the iframe */
  margin: auto; /* Center the iframe vertically */
  padding: 20px;
}

.sliderArab div.slidesArab {
  background-color: #f0f0f0; /* Background color of the box */
  border: 2px solid #333; /* Border of the box */
  border-radius: 10px; /* Rounded corners of the box */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for the box */
  text-align: center; /* Center align text inside the box */
}

img.displaySlide,
.sliderArab div.displaySlide {
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slider button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  padding: 10px 15px;
  background-color: hsla(0, 0%, 0%, 0.5);
  color: white;
  border: none;
  cursor: pointer;
}

.sliderArab button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  padding: 10px 15px;
  background-color: hsla(0, 0%, 0%, 0.5);
  color: white;
  border: none;
  cursor: pointer;
}
.prev{
  left: 0;
}
.next{
  right: 0;
}
@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

  /* SHOWCASE */
  .showcase-container:nth-child(even) {
    background-color: #f0f0f0;
  }

  .showcase-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .showcase {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    padding: 2em ;
  }

  .showcase-image, .showcase-text{
    width: 100%;
    margin: 1em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .showcase-text p {
    font-size: 17px;
    text-align: justify;
  }

  .showcase-image img{
    width: 100%;
    border: 1px solid silver;
    padding: 0.3rem;
  }

  .arab {
    direction: rtl; /* Set direction to right-to-left */
    text-align: right; /* Align text to the right */
    font-family: 'Arial', sans-serif; /* Use appropriate Arabic font-family */
    font-size: 35px; /* Adjust font size as needed */
    line-height: 1.5; /* Adjust line height as needed */
    margin-bottom: 10px; /* Add some bottom margin */
  }

  
