body {
  font-family: Arial, Helvetica, sans-serif;
}

.index {
  background: linear-gradient(
      rgba(185, 148, 112, 0.5),
      rgba(185, 148, 112, 0.5)
    ),
    url("https://www.toptal.com/designers/subtlepatterns/uploads/geometric-leaves.png")
      no-repeat;
  background-size: cover;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 35px;
  font-family: "Arial", sans-serif;
  line-height: 1.5;
  margin-bottom: 10px;
}

/* start slider */

.slider {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.sliderArab {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5f6f52;
}

.slider img {
  width: 100%;
  max-height: 800px;
  display: none;
}

.sliderArab div.slideArab {
  width: 100%;
  height: 50%;
  margin: 30px;
  padding: 20px;
  display: none;
  background-color: #fefae0;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.slidesArab {
  text-align: center;
  display: flex;
  width: 80%;
}

img.displaySlide,
.sliderArab div.displaySlide {
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  padding: 10px 15px;
  background-color: hsla(0, 0%, 0%, 0.5);
  color: white;
  border: none;
  cursor: pointer;
}

.sliderArab button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  padding: 10px 15px;
  background-color: hsla(0, 0%, 0%, 0.5);
  color: white;
  border: none;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.arab {
  direction: rtl;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 35px;
  line-height: 1.5;
  margin-bottom: 10px;
}

/* End Slider */

/* SHOWCASE */
.showcase-container:nth-child(even) {
  background: linear-gradient(
      rgba(254, 250, 224, 0.5),
      rgba(254, 250, 224, 0.5)
    ),
    url("https://www.toptal.com/designers/subtlepatterns/uploads/geometric-leaves.png")
      no-repeat;
  background-size: cover;
}

.showcase-button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #5f6f52;
  color: #fefae0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.showcase-button:hover {
  background-color: #4d5a42;
  transition: all 0.3s;
}

.showcase {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding: 2em;
}

.showcase-image,
.showcase-text {
  width: 100%;
  margin: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.showcase-text a {
  text-decoration: none;
}

.showcase-text p {
  font-size: 17px;
  text-align: justify;
}

.showcase-image img {
  width: 100%;
  border: 2px solid #5f6f52;
  padding: 0.3rem;
}

/* End Showcase */

@media screen and (max-width: 768px) {
  .showcase {
    flex-direction: column;
    padding: 1em 2em;
  }

  .showcase-image,
  .showcase-text {
    width: auto;
  }

  .showcase-image {
    order: -1;
  }
}
