.audio-container {
  margin: 20px;
}
body {
  background: linear-gradient(
      rgba(185, 148, 112, 0.5),
      rgba(185, 148, 112, 0.5)
    ),
    url("https://www.toptal.com/designers/subtlepatterns/uploads/geometric-leaves.png")
      no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


* {
  box-sizing: border-box;
}


h1 {
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

.quiz-container{
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 100%;
  overflow: hidden;
}
.quiz-header{
  padding: 4rem;
}
h2{
  padding: 1.5rem;
  text-align: center;
  margin: 0;
}
ul.quiz{
  list-style-type: none;
  padding: 0;
}
ul.quiz li.quizz{
  font-size: 1.2rem;
  margin: 1rem 0;
}
ul.quiz li.quiz label.quiz{
  cursor: pointer;
}
button{
  background-color: #b99470;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
}
button:hover{
  background-color: #8c725b;
}
button:focus{
  outline: none;
  background-color:  #b99470;;
}

input[type="text"] {
  width: calc(100% - 2.6rem);
  padding: 1rem; 
  margin: 0.5rem; 
  border: 3px solid #9c2b2b; 
  border-radius: 5px; 
  font-size: 1rem;
  font-family: inherit; 
  /* border-color: black; */
}

input[type="text"]:focus {
  outline: none; /* Menghilangkan garis kontur default saat fokus */
  border-color: rgb(185, 148, 112); /* Mengubah warna garis bingkai saat input dalam keadaan fokus */
}

