.audio-container {
  margin: 20px;
}
body {
  background: linear-gradient(
      rgba(185, 148, 112, 0.5),
      rgba(185, 148, 112, 0.5)
    ),
    url("https://www.toptal.com/designers/subtlepatterns/uploads/geometric-leaves.png")
      no-repeat;
  background-size: cover;
}

body {
  background: linear-gradient(
      rgba(185, 148, 112, 0.5),
      rgba(185, 148, 112, 0.5)
    ),
    url("https://www.toptal.com/designers/subtlepatterns/uploads/geometric-leaves.png")
      no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

/* HERO */
.hero-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url("images/bg.jpg");
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  text-align: center;
  color: white;
  padding: 1rem;
}

.hero-text h1 {
  /* font-size: 4em; */
  color: var(--dark-color);
}

.hero-text p {
  /* font-size: 2em; */
  margin: 0;
  color: var(--dark-color);
}
/* END OF HERO */
